In [1]:
# Comprehensive:list,dictionary

In [2]:
#list

l=[]
for i in range(1,11):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
a=[i for i in range(1,11)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
a=[i*2 for i in range(1,11)]
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
a=[1,2,3]
a*2

[1, 2, 3, 1, 2, 3]

In [7]:
a=[i+2 for i in range(1,11)]
a

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [8]:
a=[i**2+2 for i in range(1,11)]
a

[3, 6, 11, 18, 27, 38, 51, 66, 83, 102]

In [9]:
a=[1,2,3,4,5,6,7,8,9]
[i for i in a if i%2 ==0]

[2, 4, 6, 8]

In [10]:
a=[1,2,3,4,5,6,7,8,9]
b=[i for i in a if i%2 ==0]
b

[2, 4, 6, 8]

In [11]:
a=['apple','ball','Cat','Dog','fish']
b=[i for i in a if i[0].isupper()]
b

['Cat', 'Dog']

In [12]:
# dictionary

In [13]:
a={i:i**2 for i in range(1,11)}
a

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [17]:
a=['APPLE','ball','Cat','Dog','fish']
b={i:i.lower() for i in a}
b

{'APPLE': 'apple', 'ball': 'ball', 'Cat': 'cat', 'Dog': 'dog', 'fish': 'fish'}

In [18]:
# os package

In [22]:
import os
try:
    os.remove('oop1.txt')
    print('success')
except:
    print('this is already deleted')

this is already deleted

In [23]:
# mkdir chdir listdir

os.mkdir('Hello')

In [24]:
os.chdir('Hello')

In [25]:
pwd

'C:\\Users\\Dell\\Python8AM\\Hello'

In [26]:
cd ..

C:\Users\Dell\Python8AM

In [27]:
pwd

'C:\\Users\\Dell\\Python8AM'

In [28]:
os.listdir()

['.ipynb_checkpoints',
 '10files.ipynb',
 '11pandas.ipynb',
 '12oop.ipynb',
 '13inheritance.ipynb',
 '14encapsulation.ipynb',
 '15databases.ipynb',
 '16web scraping projects.ipynb',
 '16web scraping projects2.ipynb',
 '17web scraping practical1.ipynb',
 '18web scraping practical1.ipynb',
 '18web scraping practical2.ipynb',
 '19BeautifulSoup_practice.ipynb',
 '1First_class.ipynb',
 '20BeautifulSoup_practice.ipynb',
 '21 Bonus topic.ipynb',
 '2Ifelse.ipynb',
 '3loop.ipynb',
 '4string.ipynb',
 '5List.ipynb',
 '6tuple.ipynb',
 '7Dictionary.ipynb',
 '8Set.ipynb',
 '9Functions.ipynb',
 '9Functionsremaining.ipynb',
 'covid_data.csv',
 'data.txt',
 'datanext.csv',
 'datanext2.csv',
 'datanext2_remove_index.csv',
 'datas.csv',
 'datas.txt',
 'Hello',
 'new11111111111.csv',
 'new2_pandasdata.csv',
 'newww11111.csv',
 'new_pandasdata.csv',
 'oop2.txt',
 'pandasdata.csv',
 'webscrape_practical1_nepse.csv',
 'webscrape_practice_nepse.csv',
 'webscrape_projects.csv']

In [29]:
pwd

'C:\\Users\\Dell\\Python8AM'

In [32]:
import os
os.rmdir('Hello')

In [33]:
# date and time

In [34]:
import datetime
x=datetime.datetime.now()
print(x)

2022-06-14 09:06:27.869826

In [35]:
import datetime

x=datetime.datetime.now()

for i in range(5):
    print("Hello World")
y=datetime.datetime.now()

print(y-x)

Hello World
Hello World
Hello World
Hello World
Hello World
0:00:00.000995

In [61]:
import datetime

x=datetime.datetime.now()

name=input('enter name = ')
y=datetime.datetime.now()

print(y-x)

enter name = sangit
0:00:00.979888

In [65]:
import datetime

x=datetime.datetime.now()

print(x.strftime("%c"))

Tue Jun 14 09:15:43 2022

In [71]:
import pandas as pd

data={
    "Name":["Ram","Shyam","Hari","Sita"],
    "Age":[12,23,45,32],
    "Address":["Kathmandu","Bhaktapur","Lalitpur","Bara"]
}

df=pd.DataFrame(data)
df

    Name  Age    Address
0    Ram   12  Kathmandu
1  Shyam   23  Bhaktapur
2   Hari   45   Lalitpur
3   Sita   32       Bara

In [73]:
a=df.to_json("newjson_file.json")
a