In [1]:
# Tuple
#  -Indexed
#  -Ordered
#  -Duplicate and multiple values
# imutable datatype====>>> Those data which cannot be changed after its creation.(or it cannot be modified)

In [2]:
a=(1,2,3,4)
b=("Apple","Ball","Cat","Dog")
print(type(a))
print(type(b))
print(a)
print(b)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3, 4)
('Apple', 'Ball', 'Cat', 'Dog')

In [3]:
b=("Apple","Ball","Cat","Dog")
print(b[0])

Apple

In [4]:
b=("Apple","Ball","Cat","Dog")
print(b[0:2])

('Apple', 'Ball')

In [6]:
b=("Apple","Ball","Cat","Dog")
a= (1,2,3,4,5)
c= a+b
print(c)

(1, 2, 3, 4, 5, 'Apple', 'Ball', 'Cat', 'Dog')

In [7]:
b=("Apple","Ball","Cat","Dog","Apple",)
b

('Apple', 'Ball', 'Cat', 'Dog', 'Apple')

In [8]:
a=(1)
print(a)
print(type(a))

1
<class 'int'>

In [9]:
a=(1,)
print(a)
print(type(a))

(1,)
<class 'tuple'>

In [11]:
# NOT ALLOWED IN TUPLE     #Important

# no append()   ,  insert()  ,  extend()
# no update
# no delete or remove or pop
# no sort()

In [12]:
a=()
print(type(a))

<class 'tuple'>

In [14]:
b=("Apple")
print(type(b))

<class 'str'>

In [7]:
a=()
b=("Apple",)
c=("Ball",)
a=a+b+c
a

('Apple', 'Ball')

In [16]:
a=()
n=int(input("enter n = "))
for i in range(n):
    x=int(input("enter x = "))
    a= a+ (x,)
print(a)

enter n = 3
enter x = 23
enter x = 24
enter x = 25
(23, 24, 25)

In [17]:
print(sum(a))

72

In [18]:
print(max(a))

25

In [19]:
print(min(a))

23

In [20]:
print("avg = " , sum(a)/n)

avg =  24.0

In [21]:
# Type Casting

b=["Apple","Ball","Cat","Dog"]
b=tuple(b)
print(b)

('Apple', 'Ball', 'Cat', 'Dog')

In [22]:
a= ('Apple', 'Ball', 'Cat', 'Dog')
a=list(a)
a

['Apple', 'Ball', 'Cat', 'Dog']

In [23]:
a= ('Apple', 'Ball', 'Cat', 'Dog')
a=list(a)
del a[0]
a=tuple(a)
a

('Ball', 'Cat', 'Dog')

In [29]:

a= ((1,2,3),(4,5,6),(7,8,9))
a[0]

(1, 2, 3)

In [31]:
# tuple inside tuple

a=()
n=int(input("enter n = "))
for i in range(n):
    name=input("enter name = ")
    age=int(input("enter age = "))
    add=input("enter add = ")
    a = a+((name,age,add),)
print(a)

enter n = 2
enter name = sangit
enter age = 22
enter add = dang
enter name = pramit
enter age = 27
enter add = kathmandu
(('sangit', 22, 'dang'), ('pramit', 27, 'kathmandu'))

In [32]:
a=(12,32,43,11,43,52,23)
print(sorted(a))                   # sorted ==>> In tuple, sorted changes into sort.list
print(a)

[11, 12, 23, 32, 43, 43, 52]
(12, 32, 43, 11, 43, 52, 23)

In [34]:
a = (('sangit', 22, 'dang'), ('pramit', 27, 'kathmandu'))
list(a)

[('sangit', 22, 'dang'), ('pramit', 27, 'kathmandu')]

In [13]:
a = (('sangit', 22, 'dang'), ('pramit', 27, 'kathmandu'))
b= list(a)
b.append(("hari",21,"lamahi"))
print(b)

[('sangit', 22, 'dang'), ('pramit', 27, 'kathmandu'), ('hari', 21, 'lamahi')]

In [12]:
b[0]= ("rama",45,"lalitpur")
b

[('rama', 45, 'lalitpur'), ('pramit', 27, 'kathmandu'), ('hari', 21, 'lamahi')]

In [37]:
del b[0]
b

[('pramit', 27, 'kathmandu'), ('hari', 21, 'lamahi')]

In [38]:
a = (['sangit', 22, 'dang'], ['pramit', 27, 'kathmandu'])
a[0]

['sangit', 22, 'dang']

In [39]:
a = (['sangit', 22, 'dang'], ['pramit', 27, 'kathmandu'])
a[0].append(987656986)
a[1].append(834567865)
a

(['sangit', 22, 'dang', 987656986], ['pramit', 27, 'kathmandu', 834567865])

In [40]:
a = (['sangit', 22, 'dang'], ['pramit', 27, 'kathmandu'])
a[0][0]= "ram"
print(a)

(['ram', 22, 'dang'], ['pramit', 27, 'kathmandu'])

In [9]:
b=("Apple","Ball","Cat","Dog")
a= (1,2,3,4,5)
b.append(a)                                    # append garna mildaina
print(b)

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
a=(1,2,3,4,54)
a.replace(2,5)                               # replace pani garna mildaina
a

AttributeError: 'tuple' object has no attribute 'replace'

In [5]:
a=(1,2,3,4,2,3,)
a

(1, 2, 3, 4, 2, 3)

In [9]:
a= ('Apple', 'Ball', 'Cat', 'Dog')
a=list(a)
a

['Apple', 'Ball', 'Cat', 'Dog']

In [16]:
a = (('sangit', 22, 'dang'), ('pramit', 27, 'kathmandu'))
b= list(a)
b.append(("hari",21,"lamahi"))
print(b)
b[0]= ("rama",45,"lalitpur")
print(b)

[('sangit', 22, 'dang'), ('pramit', 27, 'kathmandu'), ('hari', 21, 'lamahi')]
[('rama', 45, 'lalitpur'), ('pramit', 27, 'kathmandu'), ('hari', 21, 'lamahi')]

In [18]:
a = [('sangit', 22, 'dang'), ('pramit', 27, 'kathmandu')]
a[0].append(987656986)
a[1].append(834567865)
a

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
a = (['sangit', 22, 'dang'], ['pramit', 27, 'kathmandu'])
a[0][0]='helo'
a

(['helo', 22, 'dang'], ['pramit', 27, 'kathmandu'])

In [8]:
b=["Apple","Ball","Cat","Dog"]
a= [1,2,3,4,5]
b.append(a)                                    # append garna milxa in list
print(b)

['Apple', 'Ball', 'Cat', 'Dog', [1, 2, 3, 4, 5]]