In [1]:
# Dictionary
#  -Indexed
#  -Ordered
#  -Multiple and duplicate value
#  -Mutable Datatypes======>>>>>> Those datatypes whose state can be changed even after runtime.(eg;- list,set,dict)

# Dictionary is used for mapping
# a = { <key>:<value>,<key>:<value>,.....}

In [6]:
a = {
    "name":"sangit",
    "age":22,
    "subject":"Python"
}
print(a)
print(a["name"])
print(a["age"])
print(a["subject"])
print(type(a))
print(a.get("name"))

{'name': 'sangit', 'age': 22, 'subject': 'Python'}
sangit
22
Python
<class 'dict'>
sangit

In [9]:
a = {                                           
    "name":"sangit", 
    "age":22,
    "subject":"Python",
    "Name":"sangit"                      # no duplicate key just value duplicate
}
print(a["Name"])

sangit

In [10]:
a= {}
print(type(a))

<class 'dict'>

In [12]:
# Adding key and value in the dictionary
a = {}
a['name']="sangit"
a

{'name': 'sangit'}

In [13]:
a = {}
a['name']="sangit"
a['age']=22
a['subject']="python"
a

{'name': 'sangit', 'age': 22, 'subject': 'python'}

In [8]:
a = {}
a['name']="sangit"
a['age']=22
a['subject']="python"
a['name']="sangit"
a

{'name': 'sangit', 'age': 22, 'subject': 'python'}

In [3]:
info = {}
n=int(input("enter n = "))
for i in range(n):
    name=input("enter name = ")
    phone=input("enter phone = ")
    info[phone]=name
info

enter n = 2
enter name = sangit
enter phone = 543
enter name = kamal
enter phone = 5432

{'543': 'sangit', '5432': 'kamal'}

In [4]:
for i in info:
    print(i)

543
5432

In [5]:
for i in info.values():
    print(i)

sangit
kamal

In [6]:
for i in info.items():
    print(i)

('543', 'sangit')
('5432', 'kamal')

In [7]:
l = []
for i in info.items():
    l.append(i)
print(l)

[('543', 'sangit'), ('5432', 'kamal')]

In [8]:
dict(l)

{'543': 'sangit', '5432': 'kamal'}

In [15]:
a=(('Ram','45678975'),('shyam','5678974789'))
dict(a)

{'Ram': '45678975', 'shyam': '5678974789'}

In [10]:
a=[('Ram','45678975'),('shyam','5678974789')]
dict(a)

{'Ram': '45678975', 'shyam': '5678974789'}

In [13]:
a=[['Ram','45678975'],['shyam','56789747']]
dict(a)

{'Ram': '45678975', 'shyam': '56789747'}

In [14]:
a= {'Ram': '45678975', 'shyam': '5678974789'}     # concatenation hudaina
b= {"hari":"876567890"}
c = a+b
c

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [2]:
a= {'Ram': '45678975', 'shyam': '5678974789'}     # update hunxa
b= {"hari":"876567890"}
a.update(b)
a

{'Ram': '45678975', 'shyam': '5678974789', 'hari': '876567890'}

In [16]:
#del pop()

# only key delete garda tesko value pani delete hunxa

a = {'Ram': '45678975', 'shyam': '5678974789', 'hari': '876567890'}
del a['Ram']
a

{'shyam': '5678974789', 'hari': '876567890'}

In [17]:
a = {1:1,2:4,3:9,4:16}
len(a)

4

In [18]:
a = {'Ram': '45678975', 'shyam': '5678974789', 'hari': '876567890'}
a.pop("shyam")
a

{'Ram': '45678975', 'hari': '876567890'}

In [19]:
a = {'Ram': '45678975', 'shyam': '5678974789', 'hari': '876567890'}
b = a.pop("shyam")
print(a)
print(b)            # Value move garna milxa

{'Ram': '45678975', 'hari': '876567890'}
5678974789

In [20]:
# list inside dict

a = {'Ram': [9876548,765478965], 'shyam': [876543456,854678865], 'hari': [345678543,765445678]}
print(a)

{'Ram': [9876548, 765478965], 'shyam': [876543456, 854678865], 'hari': [345678543, 765445678]}

In [23]:

a = {'Ram': [9876548,765478965], 'shyam': [876543456,854678865], 'hari': [345678543,765445678]}
print(a)

{'Ram': [9876548, 765478965], 'shyam': [876543456, 854678865], 'hari': [345678543, 765445678]}

In [21]:
info = {}
n=int(input("enter n = "))
for i in range(n):
    name=input("enter name = ")
    ntc_phone=input("enter NTC phone = ")
    ncell_phone=input("enter NCELL phone = ")
    info[name]=[ntc_phone,ncell_phone]
info

enter n = 2
enter name = sangit
enter NTC phone = 245678
enter NCELL phone = 6543
enter name = pramit
enter NTC phone = 34678
enter NCELL phone = 844567

{'sangit': ['245678', '6543'], 'pramit': ['34678', '844567']}

In [22]:
name= input("enter name = ")
ntc_phone=input("enter NTC phone = ")
ncell_phone=input("enter NCELL phone = ")
info[name]=[ntc_phone,ncell_phone]

enter name = san
enter NTC phone = 4789
enter NCELL phone = 765

In [23]:
info

{'sangit': ['245678', '6543'],
 'pramit': ['34678', '844567'],
 'san': ['4789', '765']}

In [24]:
info["sangit"]

['245678', '6543']

In [25]:
info["sangit"].append(8763456789)
info

{'sangit': ['245678', '6543', 8763456789],
 'pramit': ['34678', '844567'],
 'san': ['4789', '765']}

In [26]:
info["sangit"][0]

'245678'

In [27]:
info["sangit"][0]=976556789          # updating
info

{'sangit': [976556789, '6543', 8763456789],
 'pramit': ['34678', '844567'],
 'san': ['4789', '765']}

In [31]:
a={["Apple","Ball"]:"A"}

TypeError: unhashable type: 'list'

In [32]:
a={("Apple","Ball"):"A"}
a

{('Apple', 'Ball'): 'A'}

In [9]:
# Dictionary inside Dictionary

d = {1:{"Name":"Ram","Age":56,"address":"Kathmandu"},
     2:{"Name":"Shyam","Age":67,"address":"Bara"},
     3:{"Name":"Hari","Age":12,"address":"Bhaktapur"}}

d

{1: {'Name': 'Ram', 'Age': 56, 'address': 'Kathmandu'},
 2: {'Name': 'Shyam', 'Age': 67, 'address': 'Bara'},
 3: {'Name': 'Hari', 'Age': 12, 'address': 'Bhaktapur'}}

In [10]:
d = {1:{"Name":"Ram","Age":56,"address":"Kathmandu"},
     2:{"Name":"Shyam","Age":67,"address":"Bara"},
     3:{"Name":"Hari","Age":12,"address":"Bhaktapur"}}
d[1]["phone"]=8765456789
d[2]["phone"]=9876548978
d[3]["phone"]=4567898765
d

{1: {'Name': 'Ram', 'Age': 56, 'address': 'Kathmandu', 'phone': 8765456789},
 2: {'Name': 'Shyam', 'Age': 67, 'address': 'Bara', 'phone': 9876548978},
 3: {'Name': 'Hari', 'Age': 12, 'address': 'Bhaktapur', 'phone': 4567898765}}

In [15]:
d = {1:{"Name":"Ram","Age":56,"address":"Kathmandu"},
     2:{"Name":"Shyam","Age":67,"address":"Bara"},
     3:{"Name":"Hari","Age":12,"address":"Bhaktapur"}}
d[1]["phone"]=8765456789
d[2]["phone"]=9876548978
d[3]["phone"]=4567898765
d

{1: {'Name': 'Ram', 'Age': 56, 'address': 'Kathmandu', 'phone': 8765456789},
 2: {'Name': 'Shyam', 'Age': 67, 'address': 'Bara', 'phone': 9876548978},
 3: {'Name': 'Hari', 'Age': 12, 'address': 'Bhaktapur', 'phone': 4567898765}}

In [16]:
d={}
n=int(input("enter n = "))
for i in range(1,n+1):
    name=input("enter name = ")
    age=input("enter age = ")
    add=input("enter add = ")
    phone=input("enter phone = ")
    d[i]={"Name":name,"Age":age,"Address":add,"Phone":phone}
print(d)

enter n = 2
enter name = sangit
enter age = 22
enter add = dang
enter phone = 543234
enter name = pramit
enter age = 25
enter add = kathmandu
enter phone = 2345432
{1: {'Name': 'sangit', 'Age': '22', 'Address': 'dang', 'Phone': '543234'}, 2: {'Name': 'pramit', 'Age': '25', 'Address': 'kathmandu', 'Phone': '2345432'}}

In [2]:
# This is not effective

# WAP to create following type and perform CRUD

# d= {"Name":["Ram","Hari","Sita"],
#    "Age":[21,23,34],
#    "Address":["Kathmandu","Bhaktapur","Lalitpur"]}

d={}
name_1st=input("enter name = ")
name_2nd=input("enter name = ")
name_3rd=input("enter name = ")

age_1st=int(input("enter age = "))
age_2nd=int(input("enter age = "))
age_3rd=int(input("enter age = "))

address_1st=input("enter address = ")
address_2nd=input("enter address = ")
address_3rd=input("enter address = ")

d["Name"]=[name_1st,name_2nd,name_3rd]
d["Age"]=[age_1st,age_2nd,age_3rd]
d["Address"]=[address_1st,address_2nd,address_3rd]

d

enter name = Ram
enter name = Hari
enter name = Sita
enter age = 21
enter age = 23
enter age = 34
enter address = Kathmandu
enter address = Bhaktapur
enter address = Lalitpur

{'Name': ['Ram', 'Hari', 'Sita'],
 'Age': [21, 23, 34],
 'Address': ['Kathmandu', 'Bhaktapur', 'Lalitpur']}

In [2]:
# This is not effective
# Like a wrong but not wrong

# a = [{'name': 'ram', 'age': 12, 'address': 'ramechap'},
#      {'name': 'shyam', 'age': 34, 'address': 'parsa'},
#      {'Name': 'sanju', 'age': 27, 'address': 'bara


l=[]
n=int(input("enter number = "))
a=0
while a<n:
    name=input("enter name = ")
    age=int(input("enter age = "))
    address=input("enter address = ")
    d={"name":name,"age":age,"address":address} 
    a=a+1
l.append(d)
l.append({"name":"shyam","age":34,"address":"parsa"})
l.append({"name":"sanju","age":27,"address":"bara"})
l

enter number = 1
enter name = ram
enter age = 12
enter address = ramechap

[{'name': 'ram', 'age': 12, 'address': 'ramechap'},
 {'name': 'shyam', 'age': 34, 'address': 'parsa'},
 {'name': 'sanju', 'age': 27, 'address': 'bara'}]

In [10]:
d = {1:{"Name":"ram", "age":56, "address":"ktm"},
     2:{"Name":"Sush", "age":20, "address":"putalisadak"},
     3:{"Name":"sanju", "age":27, "address":"bara"}}
del d [3]
d

{1: {'Name': 'ram', 'age': 56, 'address': 'ktm'},
 2: {'Name': 'Sush', 'age': 20, 'address': 'putalisadak'}}

In [4]:
# This is not effective
# Like a wrong but not wrong

# Without loops

# a = [{'name': 'ram', 'age': 12, 'address': 'ramechap'},
#      {'name': 'shyam', 'age': 34, 'address': 'parsa'},
#      {'Name': 'sanju', 'age': 27, 'address': 'bara


l=[]
name=input("enter name = ")
age=int(input("enter age = "))
address=input("enter address = ")
d={"name":name,"age":age,"address":address} 
   
l.append(d)
l.append({"name":"shyam","age":34,"address":"parsa"})
l.append({"name":"sanju","age":27,"address":"bara"})
l

enter name = ram
enter age = 12
enter address = ramchap

[{'name': 'ram', 'age': 12, 'address': 'ramchap'},
 {'name': 'shyam', 'age': 34, 'address': 'parsa'},
 {'name': 'sanju', 'age': 27, 'address': 'bara'}]

In [10]:
# Wrong
# Wrong
# Wrong
# Right for only one user ko data ko lagi

# WAP to create following type and perform CRUD

# d= {"Name":["Ram","Hari","Sita"],
#    "Age":[21,23,34],
#    "Address":["Kathmandu","Bhaktapur","Lalitpur"]}

d={}
n=int(input("enter number = "))
for i in range(n):
    name=input("enter name = ")
    d["Name"]=[name]
for j in range(n):
    age=int(input("enter age = "))
    d["Age"]=[age]
for k in range(n):
    address=input("enter address = ")
    d["Address"]=[address]
d

enter number = 2
enter name = sangit
enter name = kamla
enter age = 32
enter age = 23
enter address = dang
enter address = ktm

{'Name': ['kamla'], 'Age': [23], 'Address': ['ktm']}

In [31]:
# Best Way
# With Loops

# d= {"Name":["Ram","Hari","Sita"],
#    "Age":[21,23,34],
#    "Address":["Kathmandu","Bhaktapur","Lalitpur"]}
 
d={}
na=[]
n=int(input("enter number = "))
for i in range(n):
    name=input("enter name = ")
    info=name
    na.append(info)
d['Name']=na

ag=[]
for i in range(n):    
    age=int(input("enter age = "))
    info=age
    ag.append(info)
d['Age']=ag

ad=[]
for i in range(n):    
    address=input("enter address = ")
    info=address
    ad.append(info)
d['Address']=ad

d

enter number = 3
enter name = Ram
enter name = Hari
enter name = Sita
enter age = 21
enter age = 23
enter age = 34
enter address = Kathmandu
enter address = Bhaktapur
enter address = Lalitpur

{'Name': ['Ram', 'Hari', 'Sita'],
 'Age': [21, 23, 34],
 'Address': ['Kathmandu', 'Bhaktapur', 'Lalitpur']}

In [8]:
# Best Way
# With Loops

# a = [{'name': 'ram', 'age': 12, 'address': 'ramechap'},
#      {'name': 'shyam', 'age': 34, 'address': 'parsa'},
#      {'Name': 'sanju', 'age': 27, 'address': 'bara

# info={}

l=[]
n=int(input("enter number = "))
for i in range(1,n+1):
    name=input("enter name = ")
    age=int(input("enter age = "))
    address=input("enter address = ") 
    
#     info['name']=name
#     info['age']=age
#     info['address']=address

    d={"Name":name,"Age":age,"Address":address}
    l.append(d)
l

enter number = 3
enter name = ram
enter age = 12
enter address = ramechap
enter name = shyam
enter age = 34
enter address = parsa
enter name = sanju
enter age = 27
enter address = bara

[{'Name': 'ram', 'Age': 12, 'Address': 'ramechap'},
 {'Name': 'shyam', 'Age': 34, 'Address': 'parsa'},
 {'Name': 'sanju', 'Age': 27, 'Address': 'bara'}]