In [1]:
# Basic Python Collection
# List
# Tuple
# Dictionary
# set

In [3]:
# List
# - Indexed
# - Multiple and duplicate data
# - Ordered
#  -Mutable Datatypes======>>>>>> Those datatypes whose state can be changed even after runtime.(eg;- list,set,dict)


ListA = ["Apple", "Ball", "Cat", "Dog"]
ListB = [1,2,3,4,5,6,32,75,38,100,34,22]
print(ListA)
print(ListB)
print(type(ListA))
print(type(ListB))

['Apple', 'Ball', 'Cat', 'Dog']
[1, 2, 3, 4, 5, 6, 32, 75, 38, 100, 34, 22]
<class 'list'>
<class 'list'>

In [4]:
print(ListA[0])

Apple

In [7]:
print(ListA[0:4])

['Apple', 'Ball', 'Cat', 'Dog']

In [8]:
print(ListA[0:4:2])

['Apple', 'Cat']

In [9]:
ListA = ["Apple", "Ball", "Cat", "Dog","Apple"]  # Also contain duplicate value like apple in ListA
ListA

['Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [11]:
a= ["Apple", "Ball", "Cat", "Dog","Apple"]        # Concatenation between two list
b= ["rabbit","dog","ball"]
c= a+b
print(c)

['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'rabbit', 'dog', 'ball']

In [12]:
ListA = ["Apple", "Ball", "Cat", "Dog"]

ListA.append("rabbit")
ListA

['Apple', 'Ball', 'Cat', 'Dog', 'rabbit']

In [13]:
a = ["Apple", "Ball", "Cat", "Dog","Apple"] 
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Apple

In [14]:
# Functions in List

# append() insert() extend()    ----->> Adding value in the list at the end part

a=[]
a.append("apple")
print(a)

['apple']

In [21]:
data = []
n=int(input("enter n = "))
for i in range(n):
    x= int(input("enter x = "))
    data.append(x)
print(data)

enter n = 4
enter x = 76
enter x = 34
enter x = 23
enter x = 12
[76, 34, 23, 12]

In [24]:
print("the sum of the value = ", sum(data))
print("the maximum value of the list = ",max(data))
print("the minimum value of the list = ",min(data))
print("the average value of the list = ",sum(data)/n)

the sum of the value =  145
the maximum value of the list =  76
the minimum value of the list =  12
the average value of the list =  36.25

In [26]:
data.sort()      # Ascending Order
print(data)

[12, 23, 34, 76]

In [27]:
data.reverse()      # Descending Order
print(data)

[76, 34, 23, 12]

In [28]:
a = ["Zebra","Banana","apple","xray","Fish","Dog"]      # first priority for Capital Letter then small letter
a.sort()                                                
print(a)

['Banana', 'Dog', 'Fish', 'Zebra', 'apple', 'xray']

In [29]:
a = ["Zebra","Banana","1apple","xray","Fish","Dog"]         # if there is number then number is our first priority
a.sort()
print(a)

['1apple', 'Banana', 'Dog', 'Fish', 'Zebra', 'xray']

In [30]:
a = ["Zebra","Banana","apple","xray","Fish","Dog"]          # ------->>>  Adding value where you want in the list
a.insert(1,"bus")
print(a)

['Zebra', 'bus', 'Banana', 'apple', 'xray', 'Fish', 'Dog']

In [31]:
a.insert(4,"Sangit")
print(a)

['Zebra', 'bus', 'Banana', 'apple', 'Sangit', 'xray', 'Fish', 'Dog']

In [33]:
a= [1,2,3,4,5]
b= ["Apple","Ball","Cat","Dog"]                             # -------->>> Adding value of one list to another list
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 'Apple', 'Ball', 'Cat', 'Dog']

In [35]:
a = ["Zebra","Banana","apple","xray","Fish","Dog"]          # value update in the list
a[0] = "xero"
print(a)

['xero', 'Banana', 'apple', 'xray', 'Fish', 'Dog']

In [37]:
a = ["Zebra","Banana","apple","xray","Fish","Dog"]
a[0:3] = ["Banned","Hello","Laptop"]
print(a)

['Banned', 'Hello', 'Laptop', 'xray', 'Fish', 'Dog']

In [1]:
#del remove() pop()

a = ["Zebra","Banana","apple","xray","Fish","Dog","Zebra"]         # value remove in the list   
a.remove("Zebra")
print(a)

['Banana', 'apple', 'xray', 'Fish', 'Dog', 'Zebra']

In [6]:
a = ["Zebra","Banana","apple","xray","Fish","Dog"]        # value delete in the list
del a[0]                                                  
print(a)

['Banana', 'apple', 'xray', 'Fish', 'Dog']

In [7]:
a = ["Zebra","Banana","apple","xray","Fish","Dog"] 
del a[0:3]
print(a)

['xray', 'Fish', 'Dog']

In [2]:
a = ["Zebra","Banana","apple","xray","Fish","Dog"]          # list ma index patta lagauna lai
a.index("apple")

2

In [9]:
a = ["Zebra","Banana","apple","xray","Fish","Dog","apple"]     # if there is duplicated value in the list then only first value is removed
a.remove("apple")
print(a)

['Zebra', 'Banana', 'xray', 'Fish', 'Dog', 'apple']

In [10]:
a = ["Zebra","Banana","apple","xray","Fish","Dog"]     # pop() --> remove last value in the list
a.pop()
a

['Zebra', 'Banana', 'apple', 'xray', 'Fish']

In [11]:
a = ["Zebra","Banana","apple","xray","Fish","Dog"] 
b= a.pop(0)
print(a)
print(b)

['Banana', 'apple', 'xray', 'Fish', 'Dog']
Zebra

In [12]:
a = ["Zebra","Banana","apple","xray","Fish","Dog"] 
a.pop(0)
print(a)

['Banana', 'apple', 'xray', 'Fish', 'Dog']

In [13]:
b=[]
a = ["Zebra","Banana","apple","xray","Fish","Dog","apple"]
for i in a:
    if i!="apple":
        b.append(i)
print(b)

['Zebra', 'Banana', 'xray', 'Fish', 'Dog']

In [19]:
a = ["Zebra","Banana","apple","xray","Fish","Dog","apple"]
for i in range(len(a)):
    if a[i] == "apple":
        print(i)

2
6

In [16]:

a = ["Zebra","Banana","apple","xray","Fish","Dog","apple"]
if "apple" in a:
    print("yes",a.count("apple"))
else:
    print("no")

yes 2

In [1]:
a = ["Zebra","Banana","apple","xray","Fish","Dog","apple"]
if "app" in a:
    print("yes",a.count("apple"))
else:
    print("no")

no

In [25]:
#  list inside list  # real world problem solved hunxa

a=[[1,2,3],[4,5,6],[7,8,9]]
print(a)
print(type(a))
print(len(a))

print(a[0])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
3
[1, 2, 3]

In [27]:
a=[[1,2,3],
   [4,5,6],
   [7,8,9]]

print(a[0][0])
print(a[1][1])

1
5

In [28]:
a = ["Zebra","Banana","apple","xray","Fish","Dog","apple"]
print(a[0][0])

Z

In [2]:
# WAP to create a list inside list

data = []
n= int(input("enter a number = "))
for i in range(n):
    name=input("enter name = ")
    age= int(input("enter age = "))
    address= input("enter address = ")
    info = [name,age,address]
    data.append(info)
print(data)

enter a number = 2
enter name = Sangit
enter age = 22
enter address = Dang
enter name = Pramit
enter age = 27
enter address = Kathmandu
[['Sangit', 22, 'Dang'], ['Pramit', 27, 'Kathmandu']]

In [3]:
data.append(['Hari',25,'Lalitpur'])
print(data)

[['Sangit', 22, 'Dang'], ['Pramit', 27, 'Kathmandu'], ['Hari', 25, 'Lalitpur']]

In [4]:
for i in data:
    print(i)

['Sangit', 22, 'Dang']
['Pramit', 27, 'Kathmandu']
['Hari', 25, 'Lalitpur']

In [5]:
data[1]

['Pramit', 27, 'Kathmandu']

In [6]:
for i in data:
    print(i)

['Sangit', 22, 'Dang']
['Pramit', 27, 'Kathmandu']
['Hari', 25, 'Lalitpur']

In [8]:
name= input("enter name = ")             # Searching
for i in data:
    if name in i:
        print(i)

enter name = Sangit
['Sangit', 22, 'Dang']

In [9]:
name= input("enter name = ").lower()
for i in data:
    if name in i[0].lower():
        print(i)

enter name = sangit
['Sangit', 22, 'Dang']

In [43]:
a = [['Sangit', '22', 'dang'],['Pramit', '26', 'Kathmandu']]             # updating
a[0]=["San",16,"ktm"]
print(a)

[['San', 16, 'ktm'], ['Pramit', '26', 'Kathmandu']]

In [44]:
a = [['Sangit', '22', 'dang'],['Pramit', '26', 'Kathmandu']]
a[0][0]="San"
print(a)

[['San', '22', 'dang'], ['Pramit', '26', 'Kathmandu']]

In [45]:
a = [['Sangit', '22', 'dang'],['Pramit', '26', 'Kathmandu']]
del a[0][0]
print(a)

[['22', 'dang'], ['Pramit', '26', 'Kathmandu']]

In [46]:
a = [['Sangit', '22', 'dang'],['Pramit', '26', 'Kathmandu']]
del a[0]
print(a)

[['Pramit', '26', 'Kathmandu']]

In [48]:
# WAP to create a matrix with given row and column
# [[1,2,3],
# [4,5,6],
# [7,8,9]]

In [14]:
age= int(input("enter age = "))
for i in data:
    if age in i:
        print(i)

enter age = 27
['Pramit', 27, 'Kathmandu']

In [17]:
for i in range(1,11):
    for j in range(1,11):
        print(f" {i} * {j} = {i*j}")
    print(" ")

 1 * 1 = 1
 1 * 2 = 2
 1 * 3 = 3
 1 * 4 = 4
 1 * 5 = 5
 1 * 6 = 6
 1 * 7 = 7
 1 * 8 = 8
 1 * 9 = 9
 1 * 10 = 10

 2 * 1 = 2
 2 * 2 = 4
 2 * 3 = 6
 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18
 2 * 10 = 20

 3 * 1 = 3
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 3 * 7 = 21
 3 * 8 = 24
 3 * 9 = 27
 3 * 10 = 30

 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36
 4 * 10 = 40

 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50

 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 6 * 10 = 60

 7 * 1 = 7
 7 * 2 = 14
 7 * 3 = 21
 7 * 4 = 28
 7 * 5 = 35
 7 * 6 = 42
 7 * 7 = 49
 7 * 8 = 56
 7 * 9 = 63
 7 * 10 = 70

 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72
 8 * 10 = 80

 9 * 1 = 9
 9 * 2 = 18
 9 * 3 = 27
 9 * 4 = 36
 9 * 5 = 45
 9 * 6 = 54
 9 * 7 = 63
 9 * 8 = 72
 9 * 9 = 81
 9 * 10 = 90

 10 * 1 = 10
 10 * 2 = 20
 10 * 3 = 30
 10 * 4 = 40
 10 * 5 = 50
 10 * 6 = 60
 10 * 7 = 70
 10 * 8 = 80
 10 * 9 = 90
 10 * 10 = 100

In [13]:
# WAP to create a matrix with given row and column
# [[1,2,3],
# [4,5,6],
# [7,8,9]]

matrix = []

r= int(input("enter rows = "))
c= int(input("enter columns = "))

for i in range(r):
    k= []
    for j in range(c):
        u= int(input("enter user value = "))
        k.append(u)
    matrix.append(k)
    
#print(matrix, end =" ")  ---->>>>  if we do this result will be [[1, 2, 3], [4, 5, 6], [7, 8, 9]] 

for i in range(r):
    for j in range(c):
        print(matrix[i][j],end=" ")
    print()

enter rows = 3
enter columns = 3
enter user value = 1
enter user value = 2
enter user value = 3
enter user value = 4
enter user value = 5
enter user value = 6
enter user value = 7
enter user value = 8
enter user value = 9
1 2 3
4 5 6
7 8 9

In [1]:
matrix = []
r = int(input("enter r = "))
c = int(input("enter c = "))

for i in range(r):
    v= []
    for j in range(c):
        u= int(input("enter user name = "))
        v.append(u)
    matrix.append(v)

for i in range(r):
    for j in range(c):
        print(matrix[i][j], end="")
    print()

enter r = 3
enter c = 4
enter user name = 1
enter user name = 2
enter user name = 3
enter user name = 4
enter user name = 5
enter user name = 6
enter user name = 7
enter user name = 8
enter user name = 9
enter user name = 1
enter user name = 2
enter user name = 3
1234
5678
9123

In [2]:
matrix = []
r = int(input("enter r = "))
c = int(input("enter c = "))

for i in range(r):
    v= []
    for j in range(c):
        u= int(input("enter user name = "))
        v.append(u)
    matrix.append(v)

for i in range(r):
    for j in range(c):
        print(matrix[i][j],end=" ")
    print()

enter r = 3
enter c = 3
enter user name = 1
enter user name = 2
enter user name = 3
enter user name = 4
enter user name = 5
enter user name = 6
enter user name = 7
enter user name = 7
enter user name = 8
1 2 3
4 5 6
7 7 8

In [3]:
words=['sangit','pramit','kailash','micheal']
for w in words:
    print(w, len(w))

sangit 6
pramit 6
kailash 7
micheal 7