In [1]:
# Set
# - No indexing
# - unordered
# - mutable
# - no duplicate data
# - multiple values

In [2]:
s = {"apple", "ball", "cat", "dog"}
print (type(s))

<class 'set'>

In [3]:
s = {}
type (s)

dict

In [4]:
s = {1}
type (s)

set

In [5]:
# no indexing because it is unordered

s = {"Apple", "Ball", "Cat", "Dog"}
print (s)                              #print lekhna sath the result is unordered

{'Apple', 'Cat', 'Dog', 'Ball'}

In [6]:
s

{'Apple', 'Ball', 'Cat', 'Dog'}

In [7]:
s = {12,3344,1,3300,677}
print (s)

{3344, 1, 3300, 677, 12}

In [8]:
s

{1, 12, 677, 3300, 3344}

In [9]:
s = {"apple", "ball", "cat", "dog", "apple"}     #does'nt support duplicate value
print (s)

{'dog', 'cat', 'ball', 'apple'}

In [10]:
s = [11,22,33,11,22,33,44,33,11]
s = set(s)                #if you convert into set, it automatically removes the duplicate value
s

{11, 22, 33, 44}

In [11]:
s = list(s)
s                    #set ma hune bitikai it changes the order type and again converted into list

[33, 11, 44, 22]

In [12]:
# How to create set?


s = set ()
n = int (input ("enter n = "))
for i in range (n):
    x = input("enter x = ")
    s.add(x)
    
print(s)

enter n = 2
enter x = sangit
enter x = ram
{'ram', 'sangit'}

In [13]:
s = {'apple',"ball","cat"}
s.remove('apple')
s

{'ball', 'cat'}

In [14]:
# how to relate it with mathematics set? 
# # it is used to compare the value.
# no concatenation in set

In [15]:
a = {"rajan","krish","joe","love","pushpa"}
b = {"sodhi","iyer", "jetha lal", "babita", "babuji"}

c = a + b
c

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [16]:
a= {"rajan","krish","joe","love","pushpa","jetha lal"}
b = {"sodhi","iyer", "jetha lal", "babita", "babuji","pushpa"}
a.update(b)
print(a)

{'pushpa', 'iyer', 'love', 'joe', 'sodhi', 'krish', 'babita', 'rajan', 'jetha lal', 'babuji'}

In [17]:
a = {"rajan","krish","joe","love","pushpa","jetha lal"}
b = {"sodhi","iyer", "jetha lal", "babita", "babuji","pushpa"}
a.union(b)

{'babita',
 'babuji',
 'iyer',
 'jetha lal',
 'joe',
 'krish',
 'love',
 'pushpa',
 'rajan',
 'sodhi'}

In [18]:
a = {"rajan","krish","joe","love","pushpa","jetha lal"}
b = {"sodhi","iyer", "jetha lal", "babita", "babuji","pushpa"}
a.intersection(b)

{'jetha lal', 'pushpa'}

In [21]:
a = {"rajan","krish","joe","love","pushpa","jetha lal"}
b = {"sodhi","iyer", "jetha lal", "babita", "babuji","pushpa"}
x = a.intersection(b)
print(x)
print(len(x))

{'pushpa', 'jetha lal'}
2

In [22]:
a.difference(b)

{'joe', 'krish', 'love', 'rajan'}

In [23]:
b.difference(a)

{'babita', 'babuji', 'iyer', 'sodhi'}

In [24]:
a.isdisjoint(b)#a pair of sets which doesnot have any common elements is called disjoint set.eg:-(2,3)and(4,5) are disjoint set.

False

In [25]:
a = {1,2,3,4}
b = {1,2,3,4,5,6,7,8}
a.issubset(b)

True

In [26]:
a = {1,2,3,4}
b = {1,2,3,4,5,6,7,8}
a.issuperset(b)

False

In [27]:
u = {"rajan","krish","joe","love","pushpa","jetha lal","steve jobs",
     "rajan","krish","joe","love","pushpa","jetha lal","steve jobs", "mika lal", "ful kumari"}

apple = {"rajan","krish","joe","love","pushpa","jetha lal","steve jobs"}
ms = {"sodhi","iyer", "jetha lal", "babita", "babuji","pushpa", "billu barber"}

un = apple.union(ms)
u.difference(un)

{'ful kumari', 'mika lal'}